* {
  margin: 0;
  padding: 0;
}
/**
 * 提供6中不同的margin-left
 */
.ml {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.ml-3 {
  margin-left: 30px;
}
.ml-4 {
  margin-left: 40px;
}
.ml-5 {
  margin-left: 50px;
}
/**
* 提供6中不同的margin-right
*/
.mr {
  margin-right: 10px;
}
.mr-2 {
  margin-right: 20px;
}
.mr-3 {
  margin-right: 30px;
}
.mr-4 {
  margin-right: 40px;
}
.mr-5 {
  margin-right: 50px;
}
/**
 * 提供6中不同的margin-top
 */
.mt {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}
/**
* 提供6中不同的margin-right
*/
.mb {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-5 {
  margin-bottom: 50px;
}
/**
 * 提供6中不同的padding-left
 */
.pl {
  padding-left: 10px;
}
.pl-2 {
  padding-left: 20px;
}
.pl-3 {
  padding-left: 30px;
}
.pl-4 {
  padding-left: 40px;
}
.pl-5 {
  padding-left: 50px;
}
/**
 * 提供6中不同的padding-right
 */
.pr {
  padding-right: 10px;
}
.pr-2 {
  padding-right: 20px;
}
.pr-3 {
  padding-right: 30px;
}
.pr-4 {
  padding-right: 40px;
}
.pr-5 {
  padding-right: 50px;
}
/**
 * 提供6中不同的padding-top
 */
.pt {
  padding-top: 10px;
}
.pt-2 {
  padding-top: 20px;
}
.pt-3 {
  padding-top: 30px;
}
.pt-4 {
  padding-top: 40px;
}
.pt-5 {
  padding-top: 50px;
}
/**
 * 提供6中不同的padding-bottom
 */
.pb {
  padding-bottom: 10px;
}
.pb-2 {
  padding-bottom: 20px;
}
.pb-3 {
  padding-bottom: 30px;
}
.pb-4 {
  padding-bottom: 40px;
}
.pb-5 {
  padding-bottom: 50px;
}

